/* COLORS */

:root {
  --black: #333333;
  --white: #f9f9f9;
  --lightWhite: #f7f7f7;
  --veryLightgrey: #dfe2e9;
  --darkRed: #bf0f1e;
  --red: #dd1324;
  --darkYellow: #e7b307;
  --yellow: #ffc300;
  --bread: #e6c79c;
  --green: #80ff72;
}