.cart--container {
  background-color: var(--lightWhite);
  display: flex;
  flex-direction: column;
  grid-column: 10 / 13;
  justify-content: center;
  text-align: center;
  padding: 0 3.2rem;


  &__items {
    display: flex;
    flex-direction: column;
    height: 62rem;
    justify-content: space-between;

    h3 {
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: uppercase;
      padding: 2rem;
    }

    ul {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 20rem;
      overflow-y: scroll;
      padding: 1rem;

      .cart--item {
        align-items: center;
        background-color: var(--lightWhite);
        border-radius: 1rem;
        display: flex;
        gap: .5rem;
        padding: 1rem;
        width: 100%;

        /* -webkit-box-shadow: 0px 0px 20px 7px rgba(35, 35, 35, 0.2);
        box-shadow: 0px 0px 20px 7px rgba(35, 35, 35, 0.12); */
        -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);

        &__img {
          background-color: var(--bread);
          border-radius: 1rem;

          img {
            width: 5rem;
          }
        }

        h4 {
          font-size: .8rem;
        }
      }
    }

    ul::-webkit-scrollbar {
      width: .5rem;
      background: var(--lightWhite);
    }

    ul::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background-color: var(--yellow);
    }

  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .checkout {
      background-color: var(--green);
      border: none;
      border-radius: 1rem;
      color: var(--white);
      cursor: pointer;
      display: block;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 1rem;
      width: 100%;
    }

    .total {
      background-color: var(--yellow);
      border-radius: 1.5rem;
      color: var(--white);
      display: block;
      font-size: 1.6rem;
      font-weight: 600;
      padding: 2rem;

      -webkit-box-shadow: 0px 0px 20px 7px rgba(35, 35, 35, 0.2);
      box-shadow: 0px 0px 20px 7px rgba(35, 35, 35, 0.12);
    }
  }
}