.menuCategory {
  display: flex;
  gap: 2rem;
  padding: 3.2rem 0 0 3.2rem;
  width: 70%;

  &__categoryAnchor {
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 1.5rem;
    color: var(--black);
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    font-weight: 500;
    height: 12rem;
    justify-content: space-around;
    text-decoration: none;
    text-transform: uppercase;
    width: 20rem;

    .categoryIcon--container {
      align-items: center;
      border: 1px solid var(--black);
      border-radius: 1.5rem;
      display: flex;
      height: 7rem;
      justify-content: center;
      margin: 0 auto;
      width: 7rem;

      &__icon {
        width: 5rem;
      }
    }
  }

  .active {
    background-color: var(--yellow);
    border: none;

    .categoryIcon--container {
      background-color: var(--white);
    }
  }
}