.navbar-container {
  align-items: center;
  background-color: var(--lightWhite);
  display: flex;
  grid-column: 1 / 2;
  height: 65rem;
  justify-content: center;
  padding: 2rem 0;


  &__navMenu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45rem;

    .navImg {
      background-color: #fff;
      border-radius: 1.5rem;
    }

    .navList {
      display: flex;
      gap: 2rem;
      list-style: none;
      display: flex;
      align-items: center;
      flex-direction: column;

      .navAnchor {
        align-items: center;
        border: 2px solid var(--veryLightgrey);
        border-radius: 1.5rem;
        color: var(--black);
        display: flex;
        font-size: .9rem;
        font-weight: 600;
        height: 7rem;
        justify-content: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 7rem;
      }

      .active {
        background-color: var(--red);
        border: none;
        color: var(--white);
      }
    }
  }
}